body {
  margin: 0;
  font-family: "Orbitron";
  background: #101010 url(http://www.alessiosantangelo.it/images/bg.jpg) center
    center no-repeat fixed;
  background-size: cover;
  margin-top: 0;
}
